#cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFDFDF;
    background-image: url('../../assets/umbrella.svg');
    height: 100%;
    width: 100%;
}

.block,
.principal_block {
    width: 90vw;
    height: 82vh;
    margin-top: 6vh;
    background-color: #D343B4;
    box-shadow: 0px 2px 15px 5px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 2% 4%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.block {
    height: 82vh;
}

/* .block {
    width: 90vw;
    height: 80vh;
    margin-top: 6vh;
    background-color: #D343B4;
    box-shadow: 0px 4px 30px 10px rgba(0, 0, 0, 0.25);
    border-radius: 21px;
    padding: 2% 4%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */

.texto_foto {
    display: flex;
    flex-direction: row;
    gap: 2%;
    /* padding: 10px; */
}

.texto {
    background-image: url('../../assets/himym2.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 80%;
    /* margin: 0 0 10px 10px; */
    padding: 10px 0 10px 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 3%;
    font-family: "Open Sans";

}

.texto>h3 {
    color: #FFF;
    font-size: 6em;
    font-weight: 800;
    line-height: 0.99;
    margin-bottom: 10px;
}

.texto>p {
    color: #FFDB51;
    padding-left: 8px;
    font-size: .9em;
    flex-wrap: wrap;
    width: 76%;
    background-color: rgba(59, 55, 55, 0.329);
    border-radius: 4px;
}

.texto>p:last-child {
    width: 30%;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.container:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

#amor-foto {
    width: 26%;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.opacidade {
    position: absolute;
    height: -webkit-fill-available;
    width: 100%;
    margin: 0;
    opacity: 0;
    transition: .5s ease;
    background-color: #1d1d1d71;
    border-radius: 6px;
    border: 4px solid #ffffff91;
    display: block;
}

#amor-foto:hover .opacidade {
    opacity: 1;
    cursor: pointer;

}

#amor-foto>img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 6px;
    border: 4px solid #ffffff91;
}

/* #amor-foto > img{
    width: 100%;
    height: auto;
    border-radius: 1rem;
} */

.enfeite {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 8px 0;
}

.umbrella_direita {
    rotate: 45deg;
}

.umbrella_esquerda {
    rotate: -45deg;
}

.block:last-child {
    margin-bottom: 8vh;
}

a {
    text-decoration: none;
    justify-content: center;
    color: #ffffff;
    width: 80px;
}

.button-down {
    outline: none;
    margin-top: 15px;
    animation: MoveUpDown 1s linear infinite;
    background-color: #ffffff;
    /* background-color: rgb(189, 241, 164); */
}


@keyframes MoveUpDown {

    0%,
    100% {
        bottom: 0;
    }

    50% {
        bottom: 10px;
    }
}

.p-button {
    width: 150px;
}

.p-button-text {
    color: #D343B4;
}

:host ::ng-deep .ui-button:focus,
::ng-deep .p-button:enabled:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.fotos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.fotos>img {
    width: 30%;
    border-radius: 6px;
    cursor: pointer;
    border: 4px solid #250b0b91;

}

.central {
    margin-top: 20px;
}

.lateral {
    margin-bottom: 20px;
}